In [ ]:
import os
import pandas as pd
import numpy as np
data = pd.read_csv('../CSV/flameData.csv')
data = data.iloc[:,2:].copy()
print('Data Shape: ',data.shape)
print(data.head())
print (data.dtypes)

If etylene flow is greater than 0.1, the fuel is ethane. (Proved: I have check Nan count)

In [ ]:
data.NOx15ppm.unique()

In [3]:
cols = ['PFR','H2Mol','N2Mol','NGMol','MBP10_CF002','MBP10_CF003','MBP10_CF004','EtylenFlow','H2Weight','NGWeight','N2Weight']
data[cols] = data[cols].clip(lower = 0)
data[cols] = np.round(data[cols])
data[cols]

,PFR,H2Mol,N2Mol,NGMol,MBP10_CF002,MBP10_CF003,MBP10_CF004,EtylenFlow,H2Weight,NGWeight,N2Weight
0,0.0,60.0,0.0,39.0,4.0,1.0,0.0,0.0,16.0,84.0,0.0
1,0.0,60.0,0.0,39.0,4.0,1.0,0.0,0.0,16.0,84.0,0.0
2,0.0,60.0,0.0,39.0,4.0,1.0,0.0,0.0,16.0,84.0,0.0
3,0.0,60.0,0.0,39.0,4.0,1.0,0.0,0.0,16.0,84.0,0.0
4,0.0,60.0,0.0,39.0,4.0,1.0,0.0,0.0,16.0,84.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
10694,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
10695,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
10696,0.0,2.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
10697,0.0,2.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0
10698,0.0,2.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0

In [4]:
data.NOx15ppm.uniqueque()

array([ 2.51,  2.5 ,  2.48,  2.46,  2.43,  2.44,  2.54,  2.52,  2.55,
        3.07,  3.22,  3.32,  3.31,  3.28,  3.21,  3.24,  3.09,  3.02,
        3.  ,  3.04,  3.03,  3.92,  3.97,  3.9 ,  3.87,  3.81,  3.84,
        3.86,  3.89,  3.91,  3.94,  3.96,  3.98,  3.95,  3.88,  6.07,
        6.13,  6.14,  6.02,  5.94,  5.93,  5.98,  5.97,  5.95,  6.01,
        5.99,  6.  ,  5.88,  4.93,  4.94,  4.91,  4.9 ,  4.92,  5.04,
        5.05,  5.06,  5.07,  4.99,  5.03,  2.6 ,  2.61,  2.64,  2.59,
        2.57,  2.56,  2.62,  2.63,  2.66,  2.68,  2.7 ,  2.58,  2.9 ,
        2.85,  2.83,  2.82,  2.84,  2.8 ,  2.79,  2.87,  2.89,  2.91,
        2.88,  2.94,  3.17,  3.15,  3.1 ,  2.97,  2.74,  2.73,  2.67,
        2.72,  2.65,  2.4 ,  2.18,  1.95,  1.31,  1.07,  1.02,  1.12,
        1.21,  1.27,  1.39,  1.38,  1.46,  1.5 ,  1.49,  1.53,  1.55,
        1.54,  1.52,  1.59,  1.63,  1.67,  1.71,  1.75,  1.8 ,  1.85,
        1.87,  1.96,  2.  ,  2.05,  2.07,  2.08,  2.04,  2.1 ,  2.09,
        1.99,  1.97,  1.98,  2.06,  2.17,  2.14,  2.02,  2.01,  2.13,
        2.16,  2.11,  2.12,  2.92,  2.93,  2.96,  5.66,  5.64,  5.65,
        5.62,  5.57,  5.58,  5.6 ,  5.63,  5.61,  5.59,  8.92,  8.91,
        8.96,  8.9 ,  8.86,  8.87,  8.83,  8.81,  8.79,  8.84,  8.88,
        8.93,  8.8 ,  8.76,  8.77,  8.74,  8.75,  2.32,  2.31,  2.29,
        2.24,  2.35,  2.27,  2.26,  2.25,  2.28,  4.08,  4.07,  4.03,
        4.06,  4.01,  3.99,  4.  ,  4.02,  3.93,  3.83,  3.8 ,  2.45,
        2.49,  2.47,  2.42,  2.41,  2.36,  2.76,  2.71,  2.69,  2.78,
        2.81,  2.19,  2.21,  2.23,  2.22,  2.3 ,  3.54,  3.53,  3.56,
        3.55,  3.58,  3.51,  3.57,  3.59,  4.98,  4.95,  4.97,  4.96,
        5.01,  8.85,  8.95,  8.89,  8.82,  5.  ,  5.02,  3.85,  3.82,
        3.77,  3.79,  3.76,  3.78,  3.74,  3.75,  3.35,  3.36,  3.41,
        3.42,  3.45,  3.34,  3.39,  3.37,  3.38,  3.33,  2.03, 28.27,
       28.22, 28.16, 28.19, 28.2 , 28.17, 28.25, 28.28, 28.07, 28.12,
       28.03, 28.09, 28.01, 28.05, 15.25, 15.3 , 15.26, 15.28, 15.22,
       15.2 , 15.18, 15.17, 15.27, 15.29,  6.65,  6.62,  6.63,  6.61,
        6.64,  3.19,  3.18,  3.12,  3.11,  3.13,  3.06,  3.05,  2.53,
        2.37,  2.33,  2.39,  2.38,  2.2 ,  2.15,  4.56,  4.52,  4.44,
        4.45,  4.46,  4.43,  4.41,  4.47,  4.49,  4.68,  4.69,  4.05,
        4.04,  4.12,  4.1 ,  4.11,  4.16,  4.17,  4.18,  4.15,  4.14,
        4.29,  4.28,  4.23,  4.21,  4.13,  4.09,  4.67,  4.72,  4.77,
        4.85,  4.88,  4.84,  4.82,  4.71,  4.7 ,  4.78,  4.8 ,  5.89,
        5.96,  5.86,  5.78,  5.8 ,  5.87,  5.9 ,  5.92,  5.91,  7.44,
        7.36,  7.25,  7.22,  7.29,  7.34,  7.35,  7.38,  7.37,  7.4 ,
        7.24,  7.23,  7.27,  7.3 , 14.44, 14.48, 14.49, 14.4 , 14.35,
       14.36, 14.38, 14.41, 14.46, 14.33, 20.79, 20.88, 20.94, 20.97,
       21.04, 21.1 , 21.08, 21.11, 21.09, 20.98, 20.93, 20.85, 20.86,
       20.95, 20.66, 20.7 , 20.75, 20.73, 20.77, 20.78, 20.8 , 20.62,
       20.64, 20.68, 20.63, 20.6 , 20.59, 16.6 , 16.56, 16.51, 16.52,
       16.48, 16.54, 16.53, 16.57, 16.55, 16.46, 16.47, 16.44, 16.43,
       16.36, 10.04, 10.05, 10.09, 10.11, 10.1 , 10.12, 10.07, 10.  ,
        9.97,  9.94,  9.91,  9.95,  4.89,  4.86,  4.83,  4.2 ,  4.22,
        4.26,  3.44,  3.2 ,  3.26,  3.23,  3.47,  3.46,  3.4 ,  3.43,
       33.36, 33.4 , 33.41, 33.32, 33.28, 33.27, 33.3 , 33.29, 33.25,
       33.31, 33.34, 33.18, 21.95, 21.94, 21.92, 21.96, 22.02, 22.03,
       22.08, 22.07, 22.04, 21.99, 22.  , 21.97, 10.33, 10.34, 10.32,
       10.35, 10.39, 10.38, 10.37, 10.36, 10.44, 10.43, 10.45,  3.61,
        3.66,  3.68,  3.69,  3.7 ,  3.65,  3.63,  3.62,  3.5 ,  3.52,
        6.5 ,  6.49,  6.51,  6.46,  6.47,  6.48,  5.42,  5.41,  5.4 ,
        5.45,  5.48,  5.49,  5.44,  5.43,  5.46,  5.47,  5.38,  4.55,
        4.59,  4.61,  4.65,  4.66,  4.64,  4.63,  4.62,  4.6 ,  3.73,
        2.75,  2.77,  4.39,  4.42,  4.37,  4.35,  4.36,  4.38,  5.29,
        5.33,  5.32,  5.34,  5.39,  5.3 ,  5.36,  1.86, 30.51, 30.55,
       30.43, 30.45, 30.49, 30.57, 30.56, 30.59, 30.6 , 30.63, 30.54,
       30.53, 30.52, 30.58, 14.12, 14.08, 14.13, 14.09, 14.11, 14.18,
       14.15, 14.16,  6.89,  6.93,  6.91,  6.9 ,  6.86,  6.87,  6.82,
        6.83,  5.81,  5.84,  5.83,  5.79,  5.73,  5.72,  5.71,  5.77,
        5.74,  4.3 ,  4.31,  4.27,  4.24,  4.25,  3.14,  3.16,  4.58,
        4.54,  4.53, 28.58, 28.49, 28.21, 28.31,  5.51,  5.09,  5.35,
        5.22,  4.87,  5.08,  5.1 ,  6.29,  2.34, 34.66, 34.7 , 34.79,
       34.77, 34.8 , 34.81, 34.85, 34.86, 34.96, 34.87, 34.92, 34.91,
       19.67, 19.65, 19.57, 19.56, 19.55, 19.58, 19.53, 19.51, 19.48,
       19.47, 19.43, 19.46, 19.5 ,  9.22,  9.25,  9.33,  9.39,  9.34,
        9.35,  9.3 ,  9.29,  9.28,  9.32,  9.27,  6.94,  6.95,  6.92,
        6.08,  6.15,  6.11,  6.1 ,  6.09,  6.12,  6.04,  5.31,  5.27,
        5.25,  5.24,  4.4 ,  2.86,  1.94,  1.93,  1.9 ,  3.08,  4.34,
        4.32,  4.33,  5.2 ,  5.11,  5.12,  5.14,  5.18,  6.79,  6.81,
        6.8 ,  6.78,  6.74,  6.73,  6.77,  6.75,  6.76,  8.35,  8.34,
        8.36,  8.37,  8.38,  8.42,  8.39,  8.33, 11.15, 11.16, 11.14,
       25.09, 25.08, 24.86, 24.78, 24.76, 24.74, 24.77, 24.79, 24.82,
       24.75, 24.73, 24.72,  4.75,  4.73,  4.74,  4.76,  5.55,  5.56,
        5.53,  6.18,  6.17,  3.01,  2.98,  3.67,  3.64,  1.91,  1.92,
        1.84,  1.88,  1.89,  6.35,  6.33,  6.31,  6.34,  6.3 ,  6.32,
        6.37,  4.19,  4.5 ,  4.48,  6.06,  6.22,  3.29,  3.27,  6.69,
        6.24,  6.16,  6.21,  6.45,  6.41,  6.25,  5.75,  5.68,  8.72,
        8.69,  8.73,  8.71,  8.7 ,  8.68,  8.66, 28.48, 28.52, 28.42,
       28.02, 27.97, 27.86, 27.9 , 27.89, 27.88, 27.95, 27.98, 27.96,
        1.82,  1.83,  1.79,  1.77, 13.91, 13.87, 13.78, 13.72, 13.66,
       13.58, 13.54, 13.49, 13.5 , 13.56, 13.55, 13.48, 13.46, 13.37,
       13.34,  7.05,  7.04,  6.99,  7.08,  7.01,  6.98,  6.97,  6.96,
        3.6 ,  3.48,  9.82,  9.73,  9.67,  9.7 ,  9.72,  9.74,  9.76,
        9.77,  9.69,  9.66,  9.63, 18.72, 18.71, 18.7 , 18.68, 18.69,
       18.75, 18.67, 18.59, 18.62, 18.58, 18.76, 18.78,  1.62,  1.64,
        1.65,  1.66,  1.69,  1.72,  1.73,  1.76,  2.99,  3.25,  1.36,
        1.33,  1.35,  1.34,  1.37,  1.32,  1.4 ,  1.7 , 16.07, 16.01,
       16.04, 16.  , 15.96, 15.97, 15.99, 15.98, 15.95,  1.45,  1.47,
        1.51,  1.44,  1.74,  3.71,  3.72,  2.95,  3.49,  1.81,  4.51,
        6.66,  6.68,  6.71,  6.67,  8.45,  8.43,  8.41,  8.4 ,  8.47,
        5.37,  5.13,  5.17,  5.19,  5.16,  5.15,  6.7 ,  6.84,  7.07,
        7.1 ,  7.09,  7.  ,  7.02,  7.06,  3.3 ,  6.05, 10.31, 10.26,
       10.24, 10.18, 10.17, 11.39, 11.4 , 11.45, 11.56, 11.58, 11.64,
       11.59, 11.55, 11.57, 11.6 , 11.65, 11.68, 11.8 , 11.71, 11.69,
       11.54, 11.46, 15.04, 15.06, 15.08, 15.07, 14.97, 14.95, 14.99,
       15.01, 15.02, 14.93,  7.73,  7.75,  7.81,  7.77,  7.82,  7.85,
        7.84,  7.9 ,  7.88,  7.8 ,  7.78,  7.89,  7.86,  1.78, 22.14,
       22.2 , 22.16, 22.19, 22.32, 22.31, 22.29, 22.25, 22.22, 22.24,
        5.67,  5.69,  5.7 ,  6.44,  6.39,  6.4 ,  6.26,  6.23,  6.2 ,
        6.28,  6.27,  6.6 ,  6.72,  6.36,  5.85, 24.4 , 24.41, 24.37,
       24.39, 24.43, 24.42, 24.33, 24.29, 24.26, 24.27, 24.3 , 17.78,
       17.81, 17.82, 17.79, 17.86, 17.8 , 17.85, 17.83, 17.77, 17.76,
        7.91,  7.94,  7.87,  1.48,  1.42,  1.43,  1.41,  6.03, 14.65,
       15.12, 15.24, 15.19, 15.15, 15.16])

## PFR distribution

In [5]:
d = pd.DataFrame(data['PFR'].value_counts())
d['PFR_Val'] = d.index
d.sort_values(by=['PFR_Val'])

       PFR  PFR_Val
0.0   5776      0.0
1.0    116      1.0
2.0     14      2.0
3.0    388      3.0
4.0    645      4.0
5.0     35      5.0
6.0    754      6.0
7.0     41      7.0
8.0    232      8.0
10.0   852     10.0
11.0    42     11.0
12.0   172     12.0
14.0   251     14.0
15.0    53     15.0
20.0   397     20.0
25.0    33     25.0
30.0    14     30.0
31.0    21     31.0
32.0    32     32.0
38.0    36     38.0
39.0    10     39.0
40.0   358     40.0
41.0    20     41.0
43.0    33     43.0
46.0    41     46.0
50.0    22     50.0
51.0    12     51.0
56.0    32     56.0
62.0    36     62.0
63.0     6     63.0
64.0   132     64.0
65.0    93     65.0

In [6]:
def labelObs(row):
    if row['PFR'] == 0:
        return '0'
    if (row['PFR'] >= 1 and row['PFR'] <= 3):
        return '1-3'
    if (row['PFR'] >= 4 and row['PFR'] <= 5):
        return '4-5'
    if (row['PFR'] >= 6 and row['PFR'] <= 9):
        return '6-9'
    if (row['PFR'] >= 10 and row['PFR'] <= 12):
        return '10-12'
    if (row['PFR'] >= 13 and row['PFR'] <= 15):
        return '13-15'
    if (row['PFR'] >= 20 and row['PFR'] <= 25):
        return '20-25'
    if (row['PFR'] >= 30 and row['PFR'] <= 40):
        return '30-40'
    if (row['PFR'] >= 41 and row['PFR'] <= 56):
        return '41-56'
    if (row['PFR'] >= 60):
        return '60+'
    
data['PFRType'] = data.apply (lambda row: labelObs(row), axis=1)

In [7]:
d = pd.DataFrame(data['PFRType'].value_counts())
d

       PFRType
0         5776
10-12     1066
6-9       1027
4-5        680
1-3        518
30-40      471
20-25      430
13-15      304
60+        267
41-56      160

## Fuel Distribution

In [8]:
data.head()

,Date,Time,MBM10_CP026,MBM10_CM027,MBM10_CT028,MBP10_CF002,MBP10_CF003,MBP10_CF004,ProcessAir,equivalentRatio,...,O2PercVol,H2Mol,N2Mol,NGMol,H2Weight,N2Weight,NGWeight,EtylenFlow,Image,PFRType
0,NaN,NaN,102752.63,74.63,-0.08,4.0,1.0,0.0,191.08,NaN,...,15.98,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_0,0
1,NaN,NaN,102752.63,74.67,-0.09,4.0,1.0,0.0,191.08,NaN,...,15.98,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_1,0
2,NaN,NaN,102751.63,74.65,-0.08,4.0,1.0,0.0,190.06,NaN,...,15.98,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_2,0
3,NaN,NaN,102751.63,74.63,-0.07,4.0,1.0,0.0,190.06,NaN,...,15.98,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_3,0
4,NaN,NaN,102751.63,74.65,-0.08,4.0,1.0,0.0,188.83,NaN,...,15.98,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_4,0

In [9]:
data['MBP10_CF002'] = np.where(data['EtylenFlow'] > 0.1, 0, data['MBP10_CF002'])
data['MBP10_CF003'] = np.where(data['EtylenFlow'] > 0.1, 0, data['MBP10_CF003'])
data['MBP10_CF004'] = np.where(data['EtylenFlow'] > 0.1, 0, data['MBP10_CF004'])
data['gasSum'] = data.MBP10_CF002 + data.MBP10_CF003 + data.MBP10_CF004
data.head()

,Date,Time,MBM10_CP026,MBM10_CM027,MBM10_CT028,MBP10_CF002,MBP10_CF003,MBP10_CF004,ProcessAir,equivalentRatio,...,H2Mol,N2Mol,NGMol,H2Weight,N2Weight,NGWeight,EtylenFlow,Image,PFRType,gasSum
0,NaN,NaN,102752.63,74.63,-0.08,4.0,1.0,0.0,191.08,NaN,...,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_0,0,5.0
1,NaN,NaN,102752.63,74.67,-0.09,4.0,1.0,0.0,191.08,NaN,...,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_1,0,5.0
2,NaN,NaN,102751.63,74.65,-0.08,4.0,1.0,0.0,190.06,NaN,...,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_2,0,5.0
3,NaN,NaN,102751.63,74.63,-0.07,4.0,1.0,0.0,190.06,NaN,...,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_3,0,5.0
4,NaN,NaN,102751.63,74.65,-0.08,4.0,1.0,0.0,188.83,NaN,...,60.0,0.0,39.0,16.0,0.0,84.0,0.0,3066_4,0,5.0

In [10]:
data['H2_calc'] = np.where(data['MBP10_CF003'] > 0.0, np.round((data.MBP10_CF003/data.gasSum)*100), 0)
data['NG_calc'] = np.where(data['MBP10_CF002'] > 0.0, np.round((data.MBP10_CF002/data.gasSum)*100), 0)
data['N2_calc'] = np.where(data['MBP10_CF004'] > 0.0, np.round((data.MBP10_CF004/data.gasSum)*100), 0)

In [11]:
data.head()

,Date,Time,MBM10_CP026,MBM10_CM027,MBM10_CT028,MBP10_CF002,MBP10_CF003,MBP10_CF004,ProcessAir,equivalentRatio,...,H2Weight,N2Weight,NGWeight,EtylenFlow,Image,PFRType,gasSum,H2_calc,NG_calc,N2_calc
0,NaN,NaN,102752.63,74.63,-0.08,4.0,1.0,0.0,191.08,NaN,...,16.0,0.0,84.0,0.0,3066_0,0,5.0,20.0,80.0,0.0
1,NaN,NaN,102752.63,74.67,-0.09,4.0,1.0,0.0,191.08,NaN,...,16.0,0.0,84.0,0.0,3066_1,0,5.0,20.0,80.0,0.0
2,NaN,NaN,102751.63,74.65,-0.08,4.0,1.0,0.0,190.06,NaN,...,16.0,0.0,84.0,0.0,3066_2,0,5.0,20.0,80.0,0.0
3,NaN,NaN,102751.63,74.63,-0.07,4.0,1.0,0.0,190.06,NaN,...,16.0,0.0,84.0,0.0,3066_3,0,5.0,20.0,80.0,0.0
4,NaN,NaN,102751.63,74.65,-0.08,4.0,1.0,0.0,188.83,NaN,...,16.0,0.0,84.0,0.0,3066_4,0,5.0,20.0,80.0,0.0

In [12]:
data['totalFuel'] = data.H2_calc+data.N2_calc+data.NG_calc
cols = ['H2_calc','N2_calc','NG_calc','totalFuel','EtylenFlow']
data[cols]

       H2_calc  N2_calc  NG_calc  totalFuel  EtylenFlow
0         20.0      0.0     80.0      100.0         0.0
1         20.0      0.0     80.0      100.0         0.0
2         20.0      0.0     80.0      100.0         0.0
3         20.0      0.0     80.0      100.0         0.0
4         20.0      0.0     80.0      100.0         0.0
...        ...      ...      ...        ...         ...
10694      0.0      0.0      0.0        0.0         6.0
10695      0.0      0.0      0.0        0.0         6.0
10696      0.0      0.0      0.0        0.0         6.0
10697      0.0      0.0      0.0        0.0         6.0
10698      0.0      0.0      0.0        0.0         6.0

[10699 rows x 5 columns]

In [13]:
data['H2_cat'] = data['H2_calc']
data['NG_cat'] = data['NG_calc']
data['N2_cat'] = data['N2_calc']

In [14]:
data['H2_cat'] = data['H2_cat'].apply(lambda x: 70 if (x >= 66 and x <= 75) else x)
data['NG_cat'] = data['NG_cat'].apply(lambda x: 30 if x==33  else x)
data['H2_cat'] = data['H2_cat'].apply(lambda x: 30 if x==33  else x)
data['H2_cat'] = data['H2_cat'].apply(lambda x: 20 if (x >= 20 and x <= 25) else x)
data['NG_cat'] = data['NG_cat'].apply(lambda x: 80 if (x >= 75 and x <= 85) else x)
data['NG_cat'] = data['NG_cat'].apply(lambda x: 70 if (x >= 65 and x <= 74) else x)

In [15]:
fuel = data.groupby(['H2_cat','NG_cat']).size().reset_index().rename(columns={0:'count'})
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(fuel)

   H2_cat  NG_cat  count
0     0.0     0.0   1932
1     0.0   100.0   4979
2    20.0    80.0   2322
3    30.0    70.0    328
4    40.0    60.0     61
5    50.0    50.0     26
6    70.0    30.0     13
7   100.0     0.0   1038

In [16]:
'''
cat F1:
H2 - NG
30 - 70
40 - 60
50 - 50

cat F2:

H2 - NG
70 - 30
100 - 0
'''

def labelObs(row):
    if (row['H2_cat'] == 0 and row['NG_cat'] == 0):
        return 'Ethlyne'
    if (row['H2_cat'] == 0 and row['NG_cat'] == 100):
        return 'NG'
    if (row['H2_cat'] == 20 and row['NG_cat'] == 80):
        return '20H280NG'
    if (row['H2_cat'] == 30 and row['NG_cat'] == 70):
        return 'F1'
    if (row['H2_cat'] == 40 and row['NG_cat'] == 60):
        return 'F1'
    if (row['H2_cat'] == 50 and row['NG_cat'] == 50):
        return 'F1'
    if (row['H2_cat'] == 70 and row['NG_cat'] == 30):
        return 'F2'
    if (row['H2_cat'] == 100 and row['NG_cat'] == 0):
        return 'F2'
data['FuelType'] = data.apply (lambda row: labelObs(row), axis=1)

In [17]:
d = pd.DataFrame(data['FuelType'].value_counts())
d

          FuelType
NG            4979
20H280NG      2322
Ethlyne       1932
F2            1051
F1             415

# NoX

In [18]:
d = pd.DataFrame(data['NOx15ppm'].value_counts())
d

       NOx15ppm
2.06        108
2.10         93
2.02         92
2.00         91
2.08         90
...         ...
13.91         1
15.95         1
33.40         1
7.44          1
33.36         1

[950 rows x 1 columns]

In [19]:
def labelObsNox(row):
    if (row['NOx15ppm'] >= 0 and row['NOx15ppm'] <= 5):
        return '0-5'
    elif(row['NOx15ppm'] >=6 and row['NOx15ppm'] <= 10):
        return '06-10'
    elif(row['NOx15ppm'] >=11 and row['NOx15ppm'] <= 15):
        return '11-15'
    elif(row['NOx15ppm'] >=16 and row['NOx15ppm'] <= 20):
        return '16-20'
    elif(row['NOx15ppm'] >=21 and row['NOx15ppm'] <= 25):
        return '21-25'
    elif(row['NOx15ppm'] >=26 and row['NOx15ppm'] <= 30):
        return '26-30'
    elif(row['NOx15ppm'] >=31 ):
        return '30+'
data['NOx'] = data.apply (lambda row: labelObsNox(row), axis=1)

In [20]:
d = pd.DataFrame(data['NOx'].value_counts())
d

        NOx
0-5    7657
06-10  1199
11-15   200
16-20   172
21-25   165
26-30   104
30+      83

In [21]:
data.NOx15ppm.head()

0    2.51
1    2.51
2    2.50
3    2.50
4    2.48
Name: NOx15ppm, dtype: float64

In [22]:
data.to_csv('../CSV/cleanedData.csv')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data.columns

In [24]:
d = pd.read_csv('../MTLData/csv/data.csv')

In [25]:
fuel = d.groupby(['PFRType','FuelType','NOx15ppm']).size().reset_index().rename(columns={0:'count'})
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(fuel)

    PFRType  FuelType  NOx15ppm  count
0         0  20H280NG       2.0     92
1         0  20H280NG       3.0    608
2         0  20H280NG       4.0    164
3         0  20H280NG       6.0    117
4         0  20H280NG       7.0     59
5         0   Ethlyne       2.0   1000
6         0   Ethlyne       3.0    371
7         0   Ethlyne       4.0    217
8         0   Ethlyne       5.0     38
9         0        F1       2.0     26
10        0        F1       3.0    184
11        0        F1       5.0     34
12        0        F2       2.0     34
13        0        F2       3.0    213
14        0        F2       4.0    108
15        0        F2       5.0     65
16        0        F2       6.0    101
17        0        F2       7.0     96
18        0        NG       1.0     94
19        0        NG       2.0   1750
20        0        NG       3.0    190
21        0        NG       4.0    117
22      1-3  20H280NG       3.0     32
23      1-3  20H280NG       4.0     45
24      1-3   Ethlyne       3.0     96
25      1-3        F2       4.0     18
26      1-3        F2       5.0     53
27      1-3        F2       6.0     78
28      1-3        NG       1.0     20
29      1-3        NG       2.0     96
30      1-3        NG       3.0     39
31      1-3        NG       4.0     41
32    10-12  20H280NG       5.0     34
33    10-12  20H280NG       6.0    155
34    10-12  20H280NG       7.0     35
35    10-12   Ethlyne       9.0    122
36    10-12        F2       8.0     33
37    10-12        F2      10.0     42
38    10-12        NG       2.0      1
39    10-12        NG       3.0    147
40    10-12        NG       4.0    262
41    10-12        NG       5.0    145
42    10-12        NG       6.0     54
43    10-12        NG       7.0      2
44    13-15  20H280NG       7.0     38
45    13-15  20H280NG       8.0     41
46    13-15        F2      11.0     11
47    13-15        F2      12.0     42
48    13-15        NG       3.0     40
49    13-15        NG       4.0     69
50    13-15        NG       6.0     31
51    13-15        NG       7.0     32
52    20-25  20H280NG      10.0     30
53    20-25  20H280NG      11.0     35
54    20-25        NG       4.0     32
55    20-25        NG       5.0     42
56    20-25        NG       6.0     32
57    20-25        NG       7.0     66
58    20-25        NG       8.0     79
59    20-25        NG       9.0     70
60    20-25        NG      10.0     42
61    30-40  20H280NG      14.0     35
62    30-40  20H280NG      15.0     32
63    30-40  20H280NG      19.0     37
64    30-40  20H280NG      21.0     36
65    30-40  20H280NG      25.0     41
66    30-40        NG       7.0     31
67    30-40        NG      10.0     32
68    30-40        NG      14.0     26
69    30-40        NG      15.0     53
70    30-40        NG      22.0     49
71      4-5  20H280NG       3.0     32
72      4-5  20H280NG       4.0    134
73      4-5  20H280NG       5.0     33
74      4-5        F1       4.0     28
75      4-5        F1       5.0     12
76      4-5        F2       5.0     38
77      4-5        F2       6.0     35
78      4-5        NG       1.0     46
79      4-5        NG       2.0    160
80      4-5        NG       3.0    160
81      4-5        NG       4.0      2
82    41-56  20H280NG      21.0     33
83    41-56  20H280NG      22.0     41
84    41-56  20H280NG      28.0     33
85    41-56  20H280NG      29.0      1
86    41-56        NG      15.0     18
87    41-56        NG      24.0     32
88      6-9  20H280NG       4.0    151
89      6-9  20H280NG       5.0    197
90      6-9   Ethlyne       5.0     47
91      6-9   Ethlyne       6.0     39
92      6-9        F2       6.0     43
93      6-9        F2       7.0     41
94      6-9        NG       2.0    182
95      6-9        NG       3.0    183
96      6-9        NG       4.0     95
97      6-9        NG       5.0     49
98      60+        NG      13.0     12
99      60+        NG      14.0     19
100     60+        NG      28.0     67
101     60+        NG      29.0      3
102     60+        NG      30.0      8
103     60+        NG      31.0     30
104     60+        NG      33.0     41
105     60+        NG      35.0     42